@page
@model Web.Pages.Vehiculos.DetalleModel
@{
}
<h1>Detalle Vehiculo</h1>

<div class="container">
	<div class="col-md-4 mb-4">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">@Html.DisplayFor(modelo => modelo.vehiculo.Marca) @Html.DisplayFor(modelo => modelo.vehiculo.Modelo)</h5>
				<p class="card-text">
					<div>
						<b>@Html.DisplayNameFor(modelo => modelo.vehiculo.Placa):</b>
						@Html.DisplayNameFor(modelo => modelo.vehiculo.Placa)
					</div>
					<div>
						<b>@Html.DisplayNameFor(modelo => modelo.vehiculo.Anio):</b>
						@Html.DisplayNameFor(modelo => modelo.vehiculo.Anio)
					</div>
					<div>
						<b>@Html.DisplayNameFor(modelo => modelo.vehiculo.Precio):</b>
						@Html.DisplayNameFor(modelo => modelo.vehiculo.Precio)
					</div>
				</p>
				<p class="card-text">
					<small class="texto-muted">@Html.DisplayFor(modelo => modelo.vehiculo.CorreoPropietario) | @Html.DisplayFor(modelo => modelo.vehiculo.TelefonoPropietario)</small>
				</p>


				<div />
				<div />
				<div />
				<a type="button" class="btn btn-primary" asp-page="./Index">Regresar</a>
				<a type="button" class="btn btn-warning" asp-page="./Editar" asp-route-id="@Model.vehiculo.Id">Editar</a>
				<div />

